name: CI

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main"]

jobs:
  install:
    runs-on: ubuntu-latest
    env:
      XMAKE_ROOT: "y"
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - run: nix develop -c xmake build -y --all
    - run: nix develop -c xmake install -o .
